<h1>You decided on stopping Moana...</h1>

<p>She's clearly upset and refuses to talk to you at the moment. You have two choices again</p>

<div class="panel panel-default">
  <div class="panel-body">
    <a routerLink="end-game">
      <p>Wait it out and hope she will come around...</p>
    </a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <a routerLink="#">
      <p>Her friendship is too valuable to you. You decide to change your mind and offer to help her.</p>
    </a>
  </div>
</div>
