<h1>You decided to distract the search party</h1>
<p>
  You used your superpowers to successfully distract the search party and give Moana more time to escape on the boat. What next?
</p>

<hr>
<div class="panel panel-default">
  <div class="panel-body">
    <a routerLink="/end-game">
      <p>You join her because you know she needs help to get the stone</p>
    </a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <a routerLink="/end-game">
      <p>You decide to stay on the island and make sure everything's okay until Moana returns</p>
    </a>
  </div>
</div>
