<h1>You've decided to help Moana!</h1>

<p>
  Moana needs to go into the cave to find a boat. Shortly after you enter the cave exploring, you hear a search party calling her name. Oh no! Her dad must have found out! If he gets to her, she wont be able to get off the island and save her people. What should you do?
</p>

<hr>
<div class="panel panel-default">
  <div class="panel-body">
    <a routerLink="/distract">
      <p>Go out of the cave and distract the search party! Use your super power to disrupt them.</p>
    </a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <a routerLink="/hide">
      <p>Hide</p>
    </a>
  </div>
</div>
