<h1>You decided to hide...</h1>

<p>The search party keeps getting closer and closer to your hiding location and you get caught! What next?</p>

<div class="panel panel-default">
  <div class="panel-body">
    <a routerLink="/end-game">
      <p>You decide to face the consequences of helping Moana willingly allow the village to ban you from the island.</p>
    </a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <a routerLink="/end-game">
      <p>You can't accept defeat quite yet. You decide to give a moving speech to the search party about the importance of getting off the island in order to save the island.</p>
    </a>
  </div>
</div>
